@page
@model TourneyPlaner.Pages.Matchup.MatchupModel
@{
}
<br />
<h2>List of Matchups</h2>
<a class='btn btn-primary btn-sm' href='/Matchup/Create'>New Matchup</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>StartDateTime</th>
            <th>Rounds</th>
            <th>TournamentID</th>
            <th>NextMatchupID</th>
        </tr>   
    </thead>
    <tbody>
        @foreach (var matchup in Model.matchupList)
        {
            <tr>
                <td>@matchup.iD</td>
                <td>@matchup.startDateTime</td>
                <td>@matchup.rounds</td>
                <td>@matchup.tournamentID</td>
                <td>@matchup.nextMatchupID<td>

                <td>
                    <a class="btn btn-primary btn-sm" href="/Matchup/Edit?id=@matchup.iD">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Matchup/Delete?id=@matchup.iD">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>